html,body{
  height: 100%;
  width: 100%
  padding: 0px;
  margin: 0px;
}
.wrap{
  height: 100%;
  width: 100%;
  min-width: 540px;
  background: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}
.clock{
  margin: 0px auto;
  width: 540px;
  padding-top: 72px;
}
.clock h1{
  width: 100%;
  height: 98px;
  line-height: 98px;
  color: #000000;
  margin: 0px;
  margin-bottom: 32px;
  font-size: 72px;
  text-align: center;
  font-weight: 800;
  border-top: 10px solid #000000;
  border-bottom: 10px solid #000000;
}
.timeZone{
  width: 100%;
  height: 104px;
  background: #000000;
  border: 2px solid #000000;
  color: #ffffff;
  margin:-2px;
}
.timeZone div{
  width: 50%;
  height: 100%;
  float: left;
}
.location{
  width: 100%;
  font-size: 36px;
  margin: 16px 0px 0px 0px;
  padding-left: 40px;
  font-weight: 700;
  box-sizing: border-box;
}
.date{
  width: 100%;
  font-size: 16px;
  margin-top: 0px;
  padding-left: 40px;
  font-weight: 700;
  font-style: italic;
  box-sizing: border-box;
}
.time{
  font-size: 72px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
}
.whiteBack{
  background: #ffffff;
  color: #000000;
}
